* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 14px;
}

body {
    height: 100vh;
}

i {
    font-size: 2.2em;
}

h1 {
    font-size: 2rem;
    display: inline-block;
}

.profile {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 60px;
    max-height: 100px;
    max-width: 200px;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(167, 157, 255, 0.6);
}

.profile a {
    text-decoration: none;
    padding: 10px;
}

.profile a:hover {
    background: rgb(213, 209, 255);
}

nav {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 0, 170);
    background: linear-gradient(90deg, rgba(0, 19, 121, 1) 0%, rgba(11, 0, 149, 1) 51%, rgba(27, 21, 156, 0.8519782913165266) 100%);
    padding: 15px 30px;
    box-shadow: 5px 5px 5px rgba(167, 157, 255, 0.6);
    justify-content: space-between;
    align-items: center;
}

p {
    margin-left: 7.5rem;
}

#details {
    font-weight: bold;
    padding: 1rem;
}

#details label {
    display: inline-block;
    width: 18.5rem;
    text-align: left;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.account-navigation {
    background-color: rgb(26, 0, 170);
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(106, 89, 255, 0.6);
}

[class*="-dropdown"] {
    padding: 10px;
    cursor: pointer;
}

[class*="-dropdown"]:hover {
    background-color: rgb(36, 0, 243);
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #002d68;
    padding: 5px;
    color: rgb(255, 255, 255);
}

table,
th,
td {
    font-size: 1.2rem;
    padding: 15px 60px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dfdfdf
}

th {
    background-color: #1050a3;
    color: white;
}

tr>:last-child {
    text-align: right;
}

.select {
    background-color: rgb(36, 0, 243);
}

.switch {
    display: none;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 0, 170);
    padding: 15px 30px;
    text-align: center;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(0, 19, 121, 1) 0%, rgba(11, 0, 149, 1) 51%, rgba(27, 21, 156, 0.8519782913165266) 100%);
}