* {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 0, 170);
    box-shadow: 5px 5px 5px rgba(167, 157, 255, 0.6);
}

i {
    font-size: 2em;
    padding-right: 10px;
}

.bank-title {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: 0px auto;
    padding-left: 150px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

[class^=nav-] {
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

[class^=nav-]:hover {
    background-color: rgb(38, 0, 255)
}

.navigation {
    background-color: rgb(38, 0, 255)
}

.Login-container h1 {
    font-size: 2.5rem;
    color: rgb(0, 67, 105);
    text-align: center;
    margin: 40px;
}

[id$='Error'] {
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}

.Login-container,
.UserForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.Login-container {
    margin-top: 70px;
}

input {
    width: 22em;
    border-radius: 5px;
    height: 2em;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

input:focus {
    border: 1px solid rgba(25, 0, 255, 0.664);
}

input:hover {
    border: 2px solid rgba(25, 0, 255, 0.664);
}

[type='submit'] {
    border: none;
    margin: 20px auto 0px;
    font-size: 20px;
    width: 10em;
    height: 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 127, 175);
}