.account-navigation {
    background-color: rgb(26, 0, 170);
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(167, 157, 255, 0.6);
}

[class*="-dropdown"] {
    padding: 10px;
    cursor: pointer;
}

[class*="-dropdown"]:hover {
    background-color: rgb(36, 0, 243);
}

.bank-container label {
    width: auto;
    margin-bottom: 10px;
}

.bank-container .amount-1 {
    margin-bottom: 40px;
}

[class^='amount-'] {
    color: rgb(0, 81, 95);
    font-size: 2em;
}

[class$='-container'] {
    margin: 20px;
}

.bank-container {
    font-size: 1.5em;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.7rem;
}

table,
th,
td {
    font-size: 0.9rem;
    padding: 12px 50px;
}

.savings-container {
    padding-bottom: 3.2rem;
}

.savings-container td,
.savings-container th {
    font-size: 1.3rem;
}

.savings-container tr>:nth-child(even) {
    text-align: center;
}

#savings-table tr>:nth-child(3)::before,
#deposites-table tr>:nth-child(5)::before,
#deposites-table tr>:nth-child(6)::before,
[class^="amount-"]::before {
    content: "₹ ";
}

.switch {
    display: none;
}