.savings-container {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3.35rem;
}

.money-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.balance label {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
}

.display-balance {
    color: #010053;
}

tr>:nth-child(2) {
    text-transform: capitalize;
    text-align: center;
}

tr>:nth-child(3)::before,
.FixedDeposite-table tr>:nth-child(4)::before {
    content: "₹ "
}

input {
    width: 20rem;
    border-radius: 5px;
    height: 2rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem 1rem 0rem;
}

input[type='button'] {
    width: 6rem;
    height: 2.2rem;
    border: none;
    margin: 10px auto 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 127, 175);
}

input[type='button']:hover {
    background-color: rgb(7, 161, 233);
}

[class^='errorMsg-'] {
    margin-bottom: 3rem;
    margin-left: 1rem;
    color: rgb(255, 30, 30);
}

input[type='radio'] {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
}

.deposite-container {
    padding: 10px;
    margin: 1rem auto;
}

#plan-label {
    font-size: 1.5rem;
    font-weight: bold;
}

.switch {
    display: none;
}

.select {
    background-color: rgb(36, 0, 243);
}

@media (max-width:576px) {
    #details label {
        width: auto;
        font-size: 0.8rem;
    }
    input {
        width: 10rem;
        height: 2rem;
        margin-left: 0rem;
    }
    input[type='button'] {
        width: auto;
        font-size: 0.6rem;
    }
    [class^='errorMsg-'] {
        margin-bottom: 1rem;
    }
    .balance label {
        display: inline;
        font-weight: bold;
        font-size: 1.5rem;
    }
}