* {
    margin: 0px;
}

i {
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
    display: inline-block;
}

body {
    height: 100vh;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(26, 0, 170);
    padding: 15px 30px;
    box-shadow: 5px 5px 5px rgba(167, 157, 255, 0.6);
    justify-content: space-between;
    align-items: center;
}

p {
    margin-left: 7.5rem;
}

.fa-sign-out-alt:hover {
    color: rgb(0, 209, 216);
}

#details {
    font-weight: bold;
    padding: 1rem;
}

#details label {
    display: inline-block;
    width: 18.5rem;
    text-align: left;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.account-navigation {
    background-color: rgb(26, 0, 170);
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(106, 89, 255, 0.6);
}

[class*="-dropdown"] {
    padding: 10px;
    cursor: pointer;
}

[class*="-dropdown"]:hover {
    background-color: rgb(36, 0, 243);
}

.savings-container {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.money-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.balance label {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
}

.display-balance {
    color: #010053;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 2rem;
    background-color: #0045a0;
    padding: 5px;
    color: rgb(255, 255, 255);
}

table,
th,
td {
    font-size: 1rem;
    padding: 15px 60px;
}

td {
    font-size: 1.5rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dfdfdf
}

tr>:nth-child(2) {
    text-transform: capitalize;
}

th {
    background-color: #3a69a7;
    color: white;
}

tr>:nth-child(3)::before,
.FixedDeposite-table tr>:nth-child(4)::before {
    content: "₹ "
}

input {
    width: 20rem;
    border-radius: 5px;
    height: 2rem;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem 1rem 0rem;
}

input[type='button'] {
    width: 6rem;
    height: 2.2rem;
    border: none;
    margin: 10px auto 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 127, 175);
}

input[type='button']:hover {
    background-color: rgb(7, 161, 233);
}

[class^='errorMsg-'] {
    margin-bottom: 3rem;
    margin-left: 1rem;
    color: rgb(255, 30, 30);
}

input[type='radio'] {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
}

.deposite-container {
    padding: 10px;
    margin: 1rem auto;
}

#plan-label {
    font-size: 1.5rem;
    font-weight: bold;
}

.switch {
    display: none;
}

.select {
    background-color: rgb(36, 0, 243);
}

@media (max-width:576px) {
    #details label {
        width: auto;
        font-size: 0.8rem;
    }
    input {
        width: 10rem;
        height: 2rem;
        margin-left: 0rem;
    }
    input[type='button'] {
        width: auto;
        font-size: 0.6rem;
    }
    [class^='errorMsg-'] {
        margin-bottom: 1rem;
    }
    .balance label {
        display: inline;
        font-weight: bold;
        font-size: 1.5rem;
    }
}